{% extends 'base.html' %}

{% block content %}

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<form action="/login" method="post">
    <p>
        <p><label for="">Email</label></p>
        <input type="email" name="username" value="{{ username }}" required>
    </p>
    <p>
        <p><label for="">Password</label></p>
        <input type="password" name="password" value="{{ password }}" required>
    </p>
    <input type="submit" value="Submit">
</form>

{% endblock %}