{% extends 'base.html' %}

{% block content %}

    {% for error in errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}

    <style>
    .form-layout {

    width: 500px;

    }
    </style>


    <div class="container form-layout">
        <form action="/login" method="post">
                <p><label for="email">Email</label></p>
            <label>
                <input type="email" required class="form-control" name="email" aria-describedby="emailhelp">
            </label>
            <p><label for="">Password</label></p>
            <label>
                <input type="password" required class="form-control" name="password">
            </label>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
            <br>
        </form>
    </div>

{% endblock %}