{% extends 'base.html' %}

{% block content %}

    {% if user.admin %}
        <div class="container">

            <h4 class="text-center my-3">USERS PAGE</h4>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for users in all_users %}
                            <tr>
                                <td>{{ users.id }}</td>
                                <td>{{ users.username }}</td>
                                <td>{{ users.email }}</td>
                                <td>{{ users.created_at }}</td>
                                <td>

                                <a href="/users/{{ user.id }}" class="btn btn-primary">View</a>

                                <form action="/api/users/delete/{{ user.id }}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}