<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello,</p>
    <p>You requested a password reset. Click the link below to reset your password:</p>
    <a href="{{host}}api/auth/reset_password/{{token}}">
        Verification
    </a>
    <p>If you didn't request a password reset, you can ignore this email.</p>
</body>
</html>
